.contenedor{
    display: grid;
    width: 1440px;
    margin: 10px;

}
p{
    text-align: justify;
}

h4{
    text-align: center;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(93, 5, 147);
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 30;
    padding: 30;
    overflow: hidden;
    background-color: #94077aec;
    border: 20px;
    border-color: gray;
  }
  
  li {
    float: left;
  }



  li a {
    display: block;
    color: rgb(17, 9, 9);
    text-align: center;
    padding: 35px 35px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.contenedor2{
    display: grid;
    width: 1440px;
    grid-template-columns: auto ;
   

}

#sec1{
    height: 250px;
    color: rgb(20, 0, 0);
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}


.contenedor3{
    display: grid;
    width: 1440px;
    grid-template-columns: auto auto auto auto auto;
}

#sec4, #sec6, #sec8 {
    height: 300px;

}

#sec5, #sec7 {
    height: 350px;

}


.contenedor4{
    display: grid;
    width: 1440px;
    grid-template-columns: auto auto;
}

#sec7, #sec9{
    height: 300px;

}


@media(max-width:990px ){
    .contenedor2{
        grid-template-columns: auto auto auto;
        background-color:rgba(147, 5, 126, 0.733);
    }

    ul {
        list-style-type: none;
        margin: 30;
        padding: 30;
        overflow: hidden;
        background-color: #bf5daf68;
        border: 20px;
        border-color: gray;
      }

    #sec1{
        height: 250px;
        color: rgb(0, 0, 0);
        align-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #sec3{
        grid-column: 3 / span 2;
    }
    .contenedor3{
        grid-template-columns: auto auto auto;
        background-color: rgba(147, 5, 126, 0.733);

    }

    .contenedor4{
        display: grid;
        grid-template-columns: auto auto;
        background-color: rgba(147, 5, 126, 0.733);
    }
    
    #sec7, #sec9{
        height: 300px;
    
    }

    } 


    @media(max-width:570px ){
        .contenedor2{
            grid-template-columns: auto auto ;
            background-color: rgb(4, 104, 28);
            
        }

        ul {
            list-style-type: none;
            margin: 30;
            padding: 30;
            overflow: hidden;
            background-color: #d2e1d668;
            border: 20px;
            border-color: gray;
          }
        #sec1{
            height: 250px;
            color: rgb(239, 235, 235);
            align-content: center;
            font-family: cursive;
        }
        
        #sec3{
            grid-column: 2 / span 2 / span 1;
        }
        .contenedor3{
            grid-template-columns: auto auto ;
            background-color: rgb(4, 104, 28);
           
    
        }

        .contenedor4{
            display: grid;
            grid-template-columns: auto;
            background-color: rgb(4, 104, 28);
        }
        
        #sec7, #sec9{
            height: 300px;
        
        }
        }